

html{
  margin: 0;
  padding: 0;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-color{
  background-color: #0090D4;
}

.item:hover{
  color: #0090D4;
  border-bottom: 2px solid #0090D4;
  padding-bottom: 0px;
}

.item{
  padding-bottom: 1px;
}

.calendar{
  border: 3px solid #e7ecef;
}

@layer components {
  .calendar {
    @apply rounded-lg items-center w-full mb-5;
  }

  p, span{
    @apply font-semibold
  }

  .timezone{
    @apply text-xs px-2 text-center font-normal pt-2
  }
}