

html{
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-color{
  background-color: #0090D4;
}

.item:hover{
  color: #0090D4;
  border-bottom: 2px solid #0090D4;
  padding-bottom: 0px;
}

.selecteditem{
  color: #0090D4;
  border-bottom: 2px solid #0090D4;
  padding-bottom: 0px;
}

.item{
  padding-bottom: 1px;
}

.calendar{
  border: 3px solid #e7ecef;
}

.kr-embedded {
  width: 90% !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important; /* Divide el contenedor en 2 columnas */
  grid-gap: 10px !important
}
g, .kr-icon-wrapper-content path{
  fill: #0090D4 !important;
}

.kr-installment-number, .kr-first-installment-delay{
  display: none !important;
}
.kr-help-icon-wrapper{
  background-color: #0090D4 !important;
}

.kr-payment-button{
  text-align: center !important;
  background-color: #0090D4 !important;
  width: 100% !important;
  grid-column: span 2 !important;
}
.kr-form-error{
  grid-column: span 2 !important;
}

.kr-pan{
  grid-column: span 2 !important;
}


.kr-payment-button:hover{
  background-color: #0481bc !important;
}

@layer components {
  .calendar {
    @apply rounded-lg items-center w-full mb-5;
  }

  p, span{
    @apply font-semibold
  }

  .timezone{
    @apply text-xs px-2 text-center font-normal pt-2
  }
}